<div class="centrar">

<ion-content [fullscreen]="true" class="ion-padding" scroll-y="false">
  
  @if(index == 0){
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <h1 id="barra">Skin Scanner</h1>
      </ion-title>
    </ion-toolbar>

    <h4 id="Recomendaciones">Recomendaciones</h4>
    <br>
    <img src="../../assets/images/foto.png" width="300">
    
    <section id="main">
      <section id="imagen">
        <ion-icon name="checkmark-circle" id="visto"></ion-icon>
      </section>
      <section id="texto">
          <p>
            Haz la foto en un lugar con suficiente luz
          </p>
          <p>
            Asegura de tener el area despejada
          </p>
          <p>
            Cuando el borde este verde la camara esta lista para capturar
          </p>
      </section>
    </section>

    <ion-button shape="round" id="continue" (click)="showScreen(1)">
      <h2>Continuar</h2>
    </ion-button>

  }

  @if(index == 1){
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/scanner" (click)="regresar()"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <h1 id="barra">Skin Scanner</h1>
      </ion-title>
    </ion-toolbar>

    @if(photoService.photos.length){
      <ion-img [src]="photoService.photos[0].webviewPath"></ion-img>
    }@else{
      <img src="../../assets/images/borde.png" width="300">
    }
    <br>

    <ion-button shape="circle" (click)="addPhotoToGallery()">
      <ion-icon name="camera" id="camara"></ion-icon>
    </ion-button>
    <br>
    @if(photoService.photos.length){
      <ion-button shape="round" id="continue" (click)="showScreen(2)">
        <h1>Ver Diagnóstico</h1>
      </ion-button>
    }@else{
      <ion-button shape="round" id="continue" color="medium" [disabled]="true">
        <h1>Ver Diagnóstico</h1>
      </ion-button>
    }
  }

  @if(index == 2){
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/scanner" (click)="showScreen(1)"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <h1 id="barra">Skin Scanner</h1>
      </ion-title>
    </ion-toolbar>

    <section id="main">
      <section id="imagen">
        <ion-icon name="alert-circle" id="visto"></ion-icon>
      </section>
      <section id="texto2">
          <p>
            Tu nivel de riesgo es:
          </p>
          <h1>
            BAJO
          </h1>
      </section>
    </section>

    <h1 id="barra">Recomendaciones</h1>
    <br><br>

    <div id="Recomendaciones">
      <p>
        Usa una loción calmante dermo reparadora para tratar las quemaduras.
      </p>
      <p>
        No olvides de aplicarte un protector solar de amplio espectro antes de exponerte al sol.
      </p>
      <p>
        Usa un buzo con filtro UV.
      </p>
    </div>

    <a href="../home">
      <ion-button  node="ios" class="rec">
        <h1>Volver a Inicio</h1>
      </ion-button>
    </a>

  }

</ion-content>
</div>
