<div class="centrar">

  @if(index == 0){
    <ion-header>
      <ion-toolbar color="#2260FF">
        <ion-buttons slot="start">
          <ion-back-button default-href="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>
          <h1>Conoce Más</h1>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" scroll-y="false">
    
      <section id={{aritculoInfo[0].color}}>
        <section id="imagen">
          <img src={{aritculoInfo[0].imagen}} height="100">
        </section>
        <section id="texto">
          <h6>{{aritculoInfo[0].titulo}}</h6>
          <p id="ver" (click)="showArticle(1)">Ver Articulo</p>
        </section>
      </section>
      <br>

      <section id={{aritculoInfo[1].color}}>
        <section id="imagen">
          <img src={{aritculoInfo[1].imagen}} height="100">
        </section>
        <section id="texto">
          <h6>{{aritculoInfo[1].titulo}}</h6>
          <p id="ver" (click)="showArticle(2)">Ver Articulo</p>
        </section>
      </section>
      <br>

      <section id={{aritculoInfo[2].color}}>
        <section id="imagen">
          <img src={{aritculoInfo[2].imagen}} height="100">
        </section>
        <section id="texto">
          <h6>{{aritculoInfo[2].titulo}}</h6>
          <p id="ver" (click)="showArticle(3)">Ver Articulo</p>
        </section>
      </section>
      <br>

      <section id={{aritculoInfo[3].color}}>
        <section id="imagen">
          <img src={{aritculoInfo[3].imagen}} height="100">
        </section>
        <section id="texto">
          <h6>{{aritculoInfo[3].titulo}}</h6>
          <p id="ver" (click)="showArticle(4)">Ver Articulo</p>
        </section>
      </section>

    </ion-content>
  }@else{
    <ion-header>
      <ion-toolbar color="#2260FF">
        <ion-buttons slot="start">
          <ion-back-button default-href="/articles" (click)="regresar()"></ion-back-button>
        </ion-buttons>
        <ion-title>
          <h1>Conoce Más</h1>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
      <h1 id="tituloArticulo">{{aritculoInfo[index-1].titulo}}</h1>

      <ion-card>
        <ion-card-header>
          <img src={{aritculoInfo[index-1].imagen}} width="400">
        </ion-card-header>

        <ion-card-content>
          @for(detalle of detalles[index-1]; track detalle){
            <br>
            <h2>{{detalle["titulo"]}}</h2>
            <p>{{detalle["texto"]}}</p>
          }
        </ion-card-content>
      </ion-card>
    </ion-content>
  }

</div>