.centrar {
  text-align: center;
}

#continue{
  margin: 20px;
  width: 300px;
  height: 80px;
}

ion-button[shape=circle] {
  --border-radius: 50%;
  margin: 20px;
  width: 150px;
  height: 150px;
}


ion-icon {
  width: 125px;
  height: 125px;
}