<div class="centrar">

<ion-content [fullscreen]="true" class="ion-padding" scroll-y="false">
  @if(index == 0){
    <ion-toolbar>
      <ion-title>
        <h1>¿Qué deporte vas a practicar?</h1>
      </ion-title>
    </ion-toolbar>

    <ion-button shape="circle" size="large" (click)="showSport(1)">
      <ion-icon name="football" slot="icon-only"></ion-icon>
    </ion-button>
  

    <ion-button shape="circle" size="large" (click)="showSport(2)">
      <ion-icon name="basketball"></ion-icon>
    </ion-button>
  
    <br>

    <ion-button shape="circle" size="large" (click)="showSport(3)">
      <ion-icon name="tennisball"></ion-icon>
    </ion-button>

    <ion-button shape="circle" size="large" (click)="showSport(4)">
      <ion-icon name="bicycle"></ion-icon>
    </ion-button>

    <br>

    <ion-button shape="circle" size="large" (click)="showSport(5)">
      <ion-icon name="walk"></ion-icon>
    </ion-button>

    <ion-button shape="circle" size="large" (click)="showSport(6)">
      <ion-icon name="baseball"></ion-icon>
    </ion-button>

    <br>
  }@else{
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/tabSport" (click)="regresar()"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <h1>¿Sabías Qué?</h1>
      </ion-title>
    </ion-toolbar>

    <img src={{imagesSRC[index-1]}} height="440">
    <p>{{textos[index-1]}}</p>
  }
  
  <a href="../home">
    <ion-button shape="round" id="continue">
      <h1>Continuar</h1>
    </ion-button>
  </a>

</ion-content>
</div>
