html,body{
    margin:0;
    scroll-behavior: smooth;
}

body,html {
    font-family: 'Jura', sans-serif;
}

h1{margin:0;}

#hero-section{
    position: relative;
    height: 100vh;
    width: 100%;
}

#video-hero{
    position: absolute; 
    width: 100%; 
    left: 50%; 
    top: 50%;
    height: 100%; 
    object-fit: cover; 
    transform: translate(-50%, -50%);
    z-index: -10;
}

#titles-hero{
    justify-content: center;
    display: flex;
    flex-direction: column;
text-align: center;
height: 100%;

}

.titles{
    color: antiquewhite;
}

#titleh1{
    font-size: 50px;
}

#prediction-tile{
    padding-top: 20px;
}

#titleh2{
    font-size: 40px;
}

.row{
    display: flex;
    gap: 8%;
    justify-content: center;
    
}

.titleh1{
    color: white;
}

h3{
    margin: 0;
    color: white;
}

#prediction-section{
    height: 100vh;
    background-size: cover; /* Asegúrate de que la imagen de fondo cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    box-shadow: 100%;
}

.input-item{
    background-color: rgba(255, 255, 255, 0.185);
    border: none; 
    border-color: white;
    border-radius: 8px;
    padding-top:2%;
    padding-bottom: 2%;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 15px;
}

#prediction-title{
    font-size: 30px;
}

.prediction-container{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    gap: 10%;
}

@media (max-width: 767px) {
    #prediction-section{
        height: min-content !important ;
    }

    .prediction-main-container{
        height: fit-content !important;
    }

    .prediction-container{
        padding: 1;
        width: 100%;
        flex-wrap: wrap;
        gap: 0;
    }

    .prediction-inputs{
        gap: 10px !important;
        padding: 0;
        margin: 0;
        width: 100vw !important;
        height: 100% !important;
    }

    .prediction-output{
        width: 100vw !important;
        padding: 0 !important;
    }
}

.prediction-main-container{
    background-color: rgba(255, 255, 255, 0.021); /* Fondo semitransparente para aplicar el efecto de blur */
    backdrop-filter: blur(10px); /* Aplica el efecto de blur */
    display: flex;
    flex-direction: column;
    gap:1%;
    height: 100vh;
    padding-top: 0.5%;
}

.prediction-inputs{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 90vh;
    gap: 1.5%;
    align-items: stretch;
    justify-content: stretch;
}

#submit-button{
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0.185);
    background-color: transparent;
    padding: 13px;
    color:white;
    transition: background-color 0.4s ease, color 0.4s ease;
}

#submit-button:hover{
    background-color: rgb(0, 150, 170);
    border-color: rgb(0, 150, 170);
    transition: background-color 0.3s ease, color 0.3s ease;
    color:black;
}

.prediction-output{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap:30px;
    border-color: rgba(255, 255, 255, 0.185);
    border-style:groove;
    width: 70%;
    margin-top: 20px; /* Añade margen superior para separar del contenedor de inputs */
    padding: 20px; /* Añade padding alrededor del contenedor de resultados */
    height: 80%;
}

.results-container{
    display: flex;
    width: 100%;
    gap: 5%;
    justify-content: center;
    
}

.result-prediction{
    display: flex;
    flex-direction: column;
    background-color: rgba(224, 208, 208, 0.185);
    border-radius: 10px;
    gap:20px;
    width: 50%;
    padding:10%;

}

.result-percentage{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 10px;
    gap: 20px;
    width: 50%;
    padding:10%;
}

.advice-main-container{
    justify-content: center;
    padding: 10%;
}

.advice-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    gap: 20px;
}

.advice-container {
    flex-shrink: 0; /* Evita que se reduzca cuando el espacio sea limitado */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-height: 150px; /* Limita la altura del contenedor para que no sobresalga */
    
    padding: 10px; /* Añade un poco de relleno interno */
}


footer{
    display: flex;
    background-color: black;
    height: 40vh;
}

.footer-container{
    display: flex;
}

.col{
display: flex;
flex-direction: column;
width: 33.33%;
align-items: center;
padding: 4%;
gap:20%;
}

.footer-logo{
    width: 90px;
    height: auto;
}

.items-list-container{
    display: flex;
    gap:10px;
}

.items-list-container .item-list{
    border-radius: 50%;
    border-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.item-list{
    color: white;
}

.a-item-list{
    border-radius: 50%;
    border-color: white;
}

.sections-items{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.section-title{color: rgb(0, 150, 170);}


.loader {
    border-top-color: #3498db; /* Color de la animación */
    -webkit-animation: spin 1.5s linear infinite; /* Animación de rotación */
    animation: spin 1.5s linear infinite; /* Animación de rotación */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Inicio de la animación */
        transform: rotate(0deg); /* Inicio de la animación */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Fin de la animación */
        transform: rotate(360deg); /* Fin de la animación */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Inicio de la animación */
        transform: rotate(0deg); /* Inicio de la animación */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Fin de la animación */
        transform: rotate(360deg); /* Fin de la animación */
    }
}

.error-message{
    font-size: 9px; /* Puedes ajustar este valor según lo que necesites */
    color: #f56565; /* Esto equivale a text-red-500 en Tailwind CSS */
    margin-top: -5px;
    margin-bottom: 10px;
    content: 0;
    margin:0;
}

.gap-container-button{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.bestmodel{
    margin:0;
}